body{
    background-color: black;
}
.box1{
    height: 200px;
    width: 400px;
    margin-top: 100px;
    margin-left: 520px;
}
.r1{
    height: 200px;
    width: 200px;
    background-color: violet;
    transform: rotate(45deg);
    opacity: 0.4;
}
.r2{
    height: 200px;
    width: 200px;
    background-color: violet;
    transform: rotate(45deg);
    margin-top: 60px;
    opacity: 0.4;
}
.box2{
    height: 150px;
    width: 600px;
    margin-top: -45px;
    margin-left: 350px;
}
.r3{
    height: 150px;
    width: 150px;
    background-color: cadetblue;
    transform: rotate(45deg);
    position: relative;
    z-index: 2;
    opacity: 0.95;
}
.r4{
    height: 150px;
    width: 150px;
    background-color: cadetblue;
    transform: rotate(45deg);
    margin-top: -150px;
    margin-left: 390px;
    position: relative;
    z-index: 2;
    opacity: 0.95;
}
.r5{
    height: 90px;
    width: 90px;
    background-color: yellowgreen;
    transform: rotate(45deg);
    margin-top: -120px;
    margin-left: -90px;
    opacity: 0.5;
}
.r6{
    height: 90px;
    width: 90px;
    background-color: yellowgreen;
    transform: rotate(45deg);
    margin-top: -90px;
    margin-left: 540px;
    opacity: 0.5;
}
.main-rh{
    height: 280px;
    width: 280px;
    background-color: indianred;
    transform: rotate(45deg);
    position: relative;
    margin-top: -225px;
    margin-left: 470px;
    z-index: 3;
    border: 10px double black;
    box-shadow: 0 0 0 5px indianred;
}
.main-rh h1{
    font-size: 47px;
    font-family: 'Leckerli One', cursive;
    text-align: center;
    transform: rotate(-45deg);
    margin-top: 0px;    
    margin-left: -20px;
}