body{
    background: linear-gradient(90deg, chocolate, crimson);
}
.button{
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 2px;
    background: black;
    border: none;
    color: white;
}
.textview{
    width: 216px;
    height: 35px;
    margin: 5px;
    font-size: 23px;
    padding:5px;
    border: none;
    color: black;
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.main h1{
    font-size: 32px;
    padding: 5px;
    font-family: sans-serif;
    margin-bottom: 0;
}