body {
    font-family: "Avenir Next";
    background-color: black;
  }
  
  li {
    list-style: none;
  }
  .template{
    margin: auto;
    margin-top: 90px;
    background: linear-gradient(35deg,#CCFFFF,#FFCCCC);
    height:450px;
    width:800px;
    border-radius: 20px;
    box-shadow: 5px 5px 50px 0px lightcoral;

  }
  .moon{
    margin-top: -420px;
    margin-left: 850px;
    width:100px;
    height: 100px;
    background-color:#FFCCCC #CCFFFF;
    border-radius:50%;
    box-shadow: 25px 10px 0px 0px rgb(114, 97, 21);
    z-index: 2;

  }
  .tag{
    background-color: rgb(143, 7, 7);
    height: 450px;
    width:50px;
    margin-top:-130px;
    margin-left: 300px;
    z-index:3;

  }
  .tag1{
    background-color: rgb(143, 7, 7);
    height: 50px;
    width: 800px;
    margin-top:-120px;
    margin-left: 232px;
    z-index:4;

  }
  .heading{
    font-family: monospace;
    margin-top:-350px;
    margin-left: 390px;
    font-size: 15px;

  }
  .heading1{
    font-family: 'Courier New', Courier, monospace;
    margin-top:90px;
    margin-left: 390px;
  }
  h2{
    font-size: 25px;
    font-weight: bold;
  }