body{
    background: black;
}
.box{
    height: 450px;
    width: 900px;
    margin-top: 100px;
    margin-left: 180px;
    background-color: #ccc;
    box-shadow: 9px 9px 2px #565656;
}
.heading h1{
    text-transform: uppercase;
    font: bold 150px arial, sans-serif;
    text-align: center;
    padding-top: 60px;
    background-color: #565656;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}