body{
    margin:0;
    padding:0;
    background: #000;
}
.shadow{
    position: relative;
    margin:150px auto 0;
    width:700px;
    height: 400px;
    background: linear-gradient(0deg,#000,#262626);
}
.shadow h1{
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    padding:90px 40px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    color: pink;
}
.shadow:before, .shadow:after{
    content:'';
    position: absolute;
    top:-2px;
    left:-2px;
    background: linear-gradient(45deg,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height:calc(100% + 4px);
    z-index: -1;
    animation: shine 20s linear infinite;
}
.shadow:after{
    filter: blur(20px);
}
@keyframes shine{
    0%{
        background-position: 0 0 ;
    }
    50%{
        background-position: 300% 0 ;
    }
    100%{
        background-position: 0 0 ;
    }
}