body{
    margin: 0;
    padding: 0;
    background: url(pic.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.login-box{
    width: 320px;
    height:400px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.profile-pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
   left: 110px;
}
h1{
    margin:0;
    padding:0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login-box p{
    margin: 0;
    padding:0;
    font-weight: bold;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box  input[type="password"], input[type="text"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.login-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: darkslateblue;
    color: #fff;
    font-size: 18px;
    border-radius:20px;
}
.login-box input[type="submit"] .hover{
    cursor: pointer;
    background: darkgoldenrod;
    color: #000;
}
.login-box a{
    text-decoration: none;
    font-size: 12px;
    line-height:20px;
    color: darkgray;
}
.login-box a:hover{
    color: darkgoldenrod;
}
