body, html {
    height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    background: #9fd9e6;
    text-align: center;
}
h1 {
  margin-top: 235px;
}
h1 [class*="word"]{
  margin-right: 10px;
}
h1 [class*="word"]:last-child{
  margin-right: 0;
}
.demo2 [class*="char"]{
  margin-right: 5px;
  line-height: 100%;
  font-family: helvetica;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  text-align: center;
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
}
.demo2 [class*="char"]:nth-child(3n+1) {
  background: #ed4a02;
}
.demo2 [class*="char"]:nth-child(3n+2) {
  background: #93ca31;
}
.demo2 [class*="char"]:nth-child(3n+3) {
  background: #feb300;
}
.demo2:hover [class*="char"]:nth-child(3n+1){
  -webkit-animation: color-1 1s infinite;
  -moz-animation: color-1 1s infinite;
  -o-animation: color-1 1s infinite;
  animation: color-1 1s infinite;
}
.demo2:hover [class*="char"]:nth-child(3n+2){
  -webkit-animation: color-2 1s infinite;
  -moz-animation: color-2 1s infinite;
  -o-animation: color-2 1s infinite;
  animation: color-2 1s infinite;
}
.demo2:hover [class*="char"]:nth-child(3n+3){
  -webkit-animation: color-3 1s infinite;
  -moz-animation: color-3 1s infinite;
  -o-animation: color-3 1s infinite;
  animation: color-3 1s infinite;
}
@-webkit-keyframes color-1 {
  0% { background: #ed4a02; }
  33% { background: #93ca31; }
  66% { background: #feb300; }
  100% { background: #ed4a02;}
}
@-moz-keyframes color-1 {
  0% { background: #ed4a02; }
  33% { background: #93ca31; }
  66% { background: #feb300; }
  100% { background: #ed4a02;}
}
@-webkit-keyframes color-2 {
  0% { background: #93ca31; }
  33% { background: #feb300; }
  66% { background: #ed4a02;}
  100% { background: #93ca31;}
}
@-moz-keyframes color-2 {
  0% { background: #93ca31; }
  33% { background: #feb300; }
  66% { background: #ed4a02;}
  100% { background: #93ca31;}
}
@-webkit-keyframes color-3 {
  0% { background: #feb300; }
  33% { background: #ed4a02; }
  66% { background: #93ca31;}
  100% { background: #feb300;}
}
@-moz-keyframes color-3 {
  0% { background: #feb300; }
  33% { background: #ed4a02; }
  66% { background: #93ca31;}
  100% { background: #feb300;}
}